<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthExample</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Bodrov Web-application</h1>
        <hr />
    </header>

    <article>
        @RenderBody()
    </article>

    <footer>
        <hr />
        &copy; 2021 - Bodrov Web-application
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/startPage.js"></script>
    <script src="~/js/namedPage.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
