@{
    ViewData["Title"] = "Страница регистрации";
}

<div class="text-center">
    <fieldset>
        <legend><a href="/home/index" class="autorization">Авторизация</a> | <span>Регистрация</span></legend>
        <input  type="text" id="regUserEmail" placeholder="Email" />
        <br />
        <input type="password" id="regUserPassword" placeholder="Пароль" />
        <br />
        <input type="password" id="regUserConfirmPassword" placeholder="Подтвердите пароль" />
        <br />
        <button id="registerButton">Зарегистрироваться</button>
    </fieldset>
</div>
<div>
    <p id="regCurrentMessage">&nbsp;</p>
</div>