@{
    ViewData["Title"] = "Страница регистрации";
}

<div class="text-center">
    <fieldset>
        <legend><span class="autorization"><a href="/home/index">Авторизация</a></span> | Регистрация</legend>
        <input  type="text" placeholder="Email" />
        <br />
        <input type="password" placeholder="Пароль" />
        <br />
        <input type="password" placeholder="Подтвердите пароль" />
        <br />
        <button>Зарегистрироваться</button>
    </fieldset>
    <p>Здесь будет выводиться информация об ошибках регистрации</p>
</div>