@{
   ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <fieldset>
        <legend>Укажите свои данные</legend>
        <input type="text" placeholder="Имя" />
        <br />
        <input type="text" placeholder="Фамилия" />
        <br />
        <input type="text" placeholder="Отчество" />
        <br />
        <button>Отправить</button>
    </fieldset>
</div>