@{
   ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <fieldset>
        <legend>Укажите свои данные</legend>
        <input type="text" id="userFirstName" placeholder="Имя" />
        <br />
        <input type="text" id="userLastName" placeholder="Фамилия" />
        <br />
        <input type="text" id="userMiddleName" placeholder="Отчество" />
        <br />
        <button id="userDataSubmitButton">Отправить</button>
    </fieldset>
</div>
<div>
    <p id="startPageCurrentMessage">&nbsp;</p>
</div>
