@{
    ViewData["Title"] = "Страница авторизации";
}

<div>
    <a href="/content/startpage/" style="font-size: 0.8rem; color: cornsilk;">Главная страница (временная ссылка)</a>
    <fieldset>
        <legend><span>Авторизация</span> | <a href="/account/register" class="registration">Регистрация</a></legend>
        <input type="text" placeholder="Email" />
        <br />
        <input type="password" placeholder="Пароль" />
        <br />
        <button>Войти</button>
    </fieldset>
</div>
<div>
    <p>&nbsp;</p>
</div>
