@{
    ViewData["Title"] = "Страница авторизации";
}

<div>
    <fieldset>
        <legend><span>Авторизация</span> | <a href="/account/register" class="registration">Регистрация</a></legend>
        <input type="email" id="loginUserEmail" placeholder="Email" />
        <br />
        <input type="password" id="loginUserPassword" placeholder="Пароль" />
        <br />
        <button id="loginButton">Войти</button>
    </fieldset>
</div>
<div>
    <p id="loginCurrentMessage">&nbsp;</p>
</div>
