@{
    ViewData["Title"] = "Страница авторизации";
}

<div>
    <fieldset>
        <legend>Авторизация | <span class="registration">Регистрация</span></legend>
        <input type="text" placeholder="Email" />
        <br />
        <input type="password" placeholder="Пароль" />
        <br />
        <button>Войти</button>
    </fieldset>
    <p>Здесь будет выводиться сообщение об ошибке</p>
</div>
